name: Security Audit

on:
  schedule:
    - cron: '0 0 * * *' # Run daily at midnight
  push:
    paths:
      - '**/Cargo.lock'

jobs:
  audit:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: rustsec/audit-check@v1.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
