name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test on Arch Linux
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Install System Dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm base-devel git rust cargo pkgconf openssl libarchive clang nodejs
      
      - uses: actions/checkout@v4
      
      - name: Fix git ownership
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
